footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black; 
}
img{
    max-height: 400px;
    max-width: 100%;
    min-height: 400px;
    min-width: 100%;
}

.modal-header, h4, .close {
      background-color: cornflowerblue;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: aliceblue;
  }
.glyphicon{
    color:white;
}
p{
    word-wrap: break-word;
}