<div class="nav-side-menu">
    <div class="brand">Courses Offered</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                 <li>
                  <a id="frontend" ng-click="FrontEndCourses()" href="">
                  <i class="fa fa-user fa-lg"></i> Front End
                  </a>
                  </li>

                 <li>
                  <a id="backend" ng-click="BackendCourses()" href="">
                  <i class="fa fa-users fa-lg"></i> Back End
                  </a>
                </li>
            </ul>
     </div>
</div>

<div class="pull-right" ui-view='detail'></div>